extend componentes/plantilla.pug
block contenidos        
    //- 
        Un div se puede declarar como div.intro_image o simplemente .intro_image 
        Si un div tiene solamente un elemento se puede declarar así  div: elemento

    section.intro 
        .intro__imagen: img(src="images/imagen.png")
        .intro__contenido
            h2 #{titulos[0]} 
            p 
                | Lorem inpsum
                | Test
                span Negrilla
            a.boton Leer más

    main.contenido
        each titulo in titulos 
            +caja('imagen.png', titulo, 'Lorem inpsum')


