doctype html 
html 
    head 
        meta(charset="UFT-8")
        link(rel="stylesheet", href="css/ejercicio-pug.css")

    body 
        header 
            h1 PlatziGames 
            a.boton Registro
        
        //- 
            Un div se puede declarar como div.intro_image o simplemente .intro_image 
            Si un div tiene solamente un elemento se puede declarar así  div: elemento

        section.intro 
            .intro__imagen: img(src="images/imagen.png")
            .intro__contenido
                h2 Titulo 
                p 
                  | Lorem inpsum
                  | Test
                  span Negrilla
                a.boton Leer más



